

<ion-content [fullscreen]="true">
  <div class="fullscreen-bg">
    <img src="../../assets/background.jpg" alt="Imagem de fundo">
</div>

  <div class="form-wrapper" >
    <div *ngIf="!success">
    <h2>Esqueceu a <a style="color: var(--ion-color-trygreen);">Senha</a></h2>
    <p>Como você gostaria de recuperar sua senha?</p>

    <ion-radio-group value="email" [(ngModel)]="selectedOption">
      <ion-item>
        <ion-radio color="trygreen" value="email">
          <span class="radio">
          Email
        </span>
        </ion-radio>
      </ion-item>
      <ion-item>
        <ion-radio color="trygreen" value="phone">
          <span class="radio">
          Telefone (Mensagem)
        </span>
        </ion-radio>
      </ion-item>
    </ion-radio-group>

    <div *ngIf="selectedOption === 'email'">
    <p> Estaremos enviando para você um email com as instruções de como recuperar sua senha.</p>
    <form class="form-container" (ngSubmit)="resetarSenha(email)" >
      <div class="form-control" >
        <input type="email" id="userEmail" name="userEmail" [(ngModel)]="email" required>
        <label for="userEmail">nome@exemplo.com</label>
      </div>
      <ion-text *ngIf="failed" style="color: red">
        <ion-icon name="alert-circle-outline"></ion-icon>
        Por favor, insira um email válido
      </ion-text>

      <ion-button fill="solid" id="emailsubmit" type="submit">
        Enviar Email
      </ion-button>
    </form>
    </div>

    <div *ngIf="selectedOption === 'phone'">
      <p> Estaremos enviando para você uma mensagem com as instruções de como recuperar sua senha.</p>
      <form class="form-container" (ngSubmit)="resetarSenha(email)">
        <div class="form-control" >
          <input type="email" id="userEmail" name="userEmail" [(ngModel)]="email" required>
          <label for="userEmail">(xx)xxxxx-xxxx</label>
        </div>
        <ion-text *ngIf="failed" style="color: red">
          <ion-icon name="alert-circle-outline"></ion-icon>
          Por favor, insira um tefone válido
        </ion-text>

        <ion-button fill="solid" id="emailsubmit" type="submit">
          Enviar Mensagem
        </ion-button>
      </form>
    </div>

  </div>

  <div *ngIf="success && selectedOption === 'email'">
    <p>Email enviado com sucesso! Por favor cheque sua caixa de enrada.</p>
  </div>

  <div *ngIf="success && selectedOption === 'phone'">
    <p>Mensagem enviada com sucesso! Por favor cheque sua caixa de mensagens.</p>
  </div>
</div>
</ion-content>


