<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" class="flecha" color="medium"></ion-icon>
      <div class="container"><img [alt]="exerciseData.alt" [src]="exerciseData.image" /></div>
      <ion-title class="ion-text-center"> Começar <a class="workout-name">{{ exerciseData.name }}</a></ion-title>
    </ion-buttons>
    <div class="gradient-border"></div>
    <div class="vertical-border"></div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="darkgray">
  <ion-card>
    <ion-card-content shape="round">
      <ion-card-title>Exercício - {{ exerciseData.name }}</ion-card-title>
      <ion-card-subtitle *ngIf="exerciseData.type === 'tempo'" >{{ exerciseData.group }} - {{ exerciseData.amount }} Minutos</ion-card-subtitle>
      <ion-card-subtitle *ngIf="exerciseData.type === 'repetições'" >{{ exerciseData.group }} - {{ exerciseData.sets }} séries de {{ exerciseData.amount}} repetições</ion-card-subtitle>
      <div [innerHTML]="exerciseData.description" class="description"></div>
    </ion-card-content>
  </ion-card>

</ion-content>
<ion-button expand="full" color="primary" color="trygreen" class="exerciseData-button" shape="round" >Começar Treino</ion-button>

<ion-icon name="arrow-dropleft-circle"></ion-icon>
