<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home" color="trygreen"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center exercise-title" color="trygreen" >
      <span class="exercise-name" *ngIf="exerciseData">{{ exerciseData.name }}</span>
    </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="darkgray">

  <div *ngIf="exibir" class="content-wrapper">
      <div class="image-data">
        <img [src]="exerciseData?.image" class="exercise-image" />
  </div>

    <div class="content-data">
      <ng-container *ngIf="exerciseData">

        <div class="chips-container">
          <ion-chip color="trygreen" *ngIf="exerciseData.type === 'time'">
            <ion-icon name="time-outline"></ion-icon>
            <ion-label>{{ exerciseData.amount }} Minutos</ion-label>
          </ion-chip>

          <ion-chip color="trygreen" *ngIf="exerciseData.type === 'rep'">
            <ion-icon name="barbell-outline"></ion-icon>
            <ion-label>{{ exerciseData.sets }} séries de {{ exerciseData.reps }}</ion-label>
          </ion-chip>

          <ion-chip color="trygreen">
            <ion-icon name="flash-outline"></ion-icon>
            <ion-label>{{ exerciseData.group }}</ion-label>
          </ion-chip>

      </div>

        <div class="exercise-details">
          <div class="tracking-in-expand">
        </div>
          <div class="exercise-description" >
            <ion-label>
              {{ exerciseData.description }}
            </ion-label>
          </div>
      </div>
      </ng-container>
    </div>

    <div class="button-container">
      <ion-button color="trygreen" class="exercise-button" (click)="startWorkout()">
        <ion-lab>Começar Treino</ion-lab>
      </ion-button>
    </div>
  </div>

</ion-content>
