<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home" color="trygreen"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center exercise-title" color="trygreen" >
      <span class="exercise-name" *ngIf="exerciseData">{{ exerciseData.name }}</span>
    </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="darkgray">

  <div *ngIf="exibir" class="content-wrapper">
      <div class="image-data">
        <img [src]="exerciseData?.image" class="exercise-image" />
  </div>

    <div class="content-data">
      <ng-container *ngIf="exerciseData">

        <div class="chips-container">
          <ion-chip color="trygreen" *ngIf="exerciseData.type === 'time'">
            <ion-icon name="time-outline"></ion-icon>
            <ion-label>{{ exerciseData.amount }} Minutos</ion-label>
          </ion-chip>

          <ion-chip color="trygreen" *ngIf="exerciseData.type === 'rep'">
            <ion-icon name="barbell-outline"></ion-icon>
            <ion-label>{{ exerciseData.sets }} séries de {{ exerciseData.reps }}</ion-label>
          </ion-chip>

          <ion-chip color="trygreen">
            <ion-icon name="flash-outline"></ion-icon>
            <ion-label>{{ exerciseData.group }}</ion-label>
          </ion-chip>

      </div>

        <div class="exercise-details">
          <div class="tracking-in-expand">
        </div>
          <div class="exercise-description" >
            <ion-label>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel ligula auctor neque ullamcorper faucibus ac at lorem. Donec et ex id tortor convallis vestibulum feugiat ac ex. Cras vestibulum lobortis finibus. Vivamus at nisl condimentum, cursus lorem sed, consequat massa. Duis at dolor et ipsum consectetur laoreet. Nullam quam mauris, accumsan vitae vehicula iaculis, volutpat sed tortor. Proin vestibulum augue at convallis malesuada. Suspendisse a semper turpis. Pellentesque laoreet fermentum scelerisque. Vestibulum ultricies est quis porttitor venenatis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;</p>
              <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec ac nisl volutpat, vehicula lorem et, convallis felis. Nulla vitae aliquet felis. Aenean gravida magna sed congue iaculis. Sed convallis nulla commodo odio convallis blandit. Pellentesque efficitur a nisi non dapibus. Aliquam non arcu tincidunt, fermentum nisl ut, tristique elit. Morbi luctus, tellus et maximus sagittis, elit magna placerat turpis, eget volutpat elit nibh a tellus. Etiam id tincidunt tortor. Donec viverra lacinia nulla, ut euismod orci. Nullam nec placerat mi, quis commodo felis. Curabitur luctus blandit nisl sed vehicula. Duis tincidunt accumsan nunc, quis dapibus neque efficitur eget. Sed in aliquam tellus. Nulla quis erat ac risus sagittis finibus.</p>
              <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec ac nisl volutpat, vehicula lorem et, convallis felis. Nulla vitae aliquet felis. Aenean gravida magna sed congue iaculis. Sed convallis nulla commodo odio convallis blandit. Pellentesque efficitur a nisi non dapibus. Aliquam non arcu tincidunt, fermentum nisl ut, tristique elit. Morbi luctus, tellus et maximus sagittis, elit magna placerat turpis, eget volutpat elit nibh a tellus. Etiam id tincidunt tortor. Donec viverra lacinia nulla, ut euismod orci. Nullam nec placerat mi, quis commodo felis. Curabitur luctus blandit nisl sed vehicula. Duis tincidunt accumsan nunc, quis dapibus neque efficitur eget. Sed in aliquam tellus. Nulla quis erat ac risus sagittis finibus.</p>
              <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec ac nisl volutpat, vehicula lorem et, convallis felis. Nulla vitae aliquet felis. Aenean gravida magna sed congue iaculis. Sed convallis nulla commodo odio convallis blandit. Pellentesque efficitur a nisi non dapibus. Aliquam non arcu tincidunt, fermentum nisl ut, tristique elit. Morbi luctus, tellus et maximus sagittis, elit magna placerat turpis, eget volutpat elit nibh a tellus. Etiam id tincidunt tortor. Donec viverra lacinia nulla, ut euismod orci. Nullam nec placerat mi, quis commodo felis. Curabitur luctus blandit nisl sed vehicula. Duis tincidunt accumsan nunc, quis dapibus neque efficitur eget. Sed in aliquam tellus. Nulla quis erat ac risus sagittis finibus.</p>
            </ion-label>
          </div>
      </div>
      </ng-container>
    </div>

    <div class="button-container">
      <ion-button color="trygreen" class="exercise-button" (click)="startWorkout()">
        <ion-lab>Começar Treino</ion-lab>
      </ion-button>
    </div>
  </div>

</ion-content>
