<ion-header>
  <ion-toolbar color="darkgray2">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/tabs/home"
        color="trygreen"
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" color="trygreen">Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="darkgray2">
  <swiper-container slides-per-view="1" pagination="true" class="mySwiper" pagination-dynamic-bullets="true">
    <swiper-slide>
      <img src="assets/logo2.png" alt="Logo do TryHard" class="logo" />
    </swiper-slide>
    <swiper-slide>
      <img src="assets/academia.jpg" alt="academia" class="academia" />
    </swiper-slide>
    <swiper-slide>
    <img src="assets/cardio.gif" alt="cardio">
  </swiper-slide>
  </swiper-container>
    <h1>Conheça o TryHard: Aplicativo de Treinos</h1>
    <div class="container2">
      <h3>
        O TryHard foi feito pra deixar seus treinos suaves e turbinados! Imagine
        só: facilidade e eficácia em cada treino, tudo na palma da sua mão. Com
        um design fácil de usar, você pode personalizar seus treinos do jeito
        que quiser, dando um toque especial pro seu progresso. Ah, e não esquece
        do rastreamento de desempenho - é tipo ter um coach pessoal te
        incentivando a mandar ver! Não importa se você já é um atleta ou tá
        começando agora, o TryHard tá aqui pra descomplicar e dar aquele up na
        sua jornada fitness. Bora treinar com estilo, superar seus limites e
        mandar ver com o TryHard!
      </h3>
    </div>
</ion-content>
