.introduction-title {
  font-size: 24px;
  color: white;
  width: 90%;
  text-align: center;
  margin-left: 5%;
}

.subtitle{
  font-size: 20px;
  text-align: center;
  width: 85%;
  margin: 5%;
}

.container {
  border-radius: 4%;
    /*border-top: 4px solid rgba(55, 151, 55, 0.805);
    border-bottom: 4px solid  rgba(55, 151, 55, 0.805);*/
  width: 90%;
  max-width: 450px;
  height: 80%;
  max-height: 800px;
  margin: 80px auto;
  -webkit-box-shadow:0px 0px 20px 4px rgba(84,187,119,0.88);
  -moz-box-shadow: 0px 0px 20px 4px rgba(84,187,119,0.88);
  box-shadow: 0px 0px 20px 4px rgba(84,187,119,0.88);
}

.icon{
  width: 90%;
  max-width: 450px;
  height: 80%;
  max-height: 800px;
  align-items: center;
  margin-left: 5%;
}

.botao{
  float: right;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-right: 8%;
}

.ion-content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


