<ion-content class="ion-content" color="darkgray">

  <ion-card class="container">

    <ion-card-header>
      <ion-card-title class="introduction-title">
        Bem Vindo(a) à Academia TryHard
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="slide-in-blurred-bottom ">
      <img class="icon" src="assets/logo2.png" alt="GIF de introdução">
    </ion-card-content>
    <ion-text>
    <h1 class="introduction-title2">Treine com propósito, vença com a TryHard!</h1>
  </ion-text>
    <div class="botao" style="display: flex;">
      <ion-button color="trygreen" class="round" routerLink="/second-introduction">
        <ion-icon slot="icon-only" name="chevron-forward" ></ion-icon>
      </ion-button>
    </div>

  </ion-card>

</ion-content>
