<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/tabs/home"
        class="flecha"
        color="trygreen"
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" color="trygreen"
      >{{ exerciseData?.name }}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="darkgray2">
  <div class="container">
  <div class="timer" [style.color]="breakTimerColor"> {{ displayTime }} </div>
  <ion-button  color="trygreen" (click)="startBreakTimer()">Iniciar Descanso</ion-button>
  </div>
  <ion-text class="title">Séries a fazer:</ion-text>
    <div class="list">
      <div class="container2">
        <div class="item-container">
            <ion-text class="title">Primeira série de {{ exerciseData?.reps }}x</ion-text>
            <div>
          </div>
          <ion-checkbox></ion-checkbox>
        </div>
        <div class="item-container">
            <ion-text class="title">Segunda série de {{ exerciseData?.reps }}x</ion-text>
            <div>
          </div>
          <ion-checkbox></ion-checkbox>
        </div>
        <div class="item-container">
            <ion-text class="title">Terceira série de {{ exerciseData?.reps }}x</ion-text>
            <div>
          </div>
          <ion-checkbox></ion-checkbox>
        </div>
      </div>
    </div>
</ion-content>

<ion-button
  color="trygreen"
  style="--border-radius: 10px"
  (click)="completeExercise()"
  routerLink="/tabs/home"
  >Finalizar Treino</ion-button
>
