.input{
  font-size: 300;
}

ion-item{
  --background:#f1f1f1de;
  border-radius: 10px;
  margin-bottom: 20px;
}

.header{
  margin-top: 100px;
  margin-bottom: 80px;
  text-align: center;
}

.subTitle{
  color: #54bb77;
  font-size: 1.2rem;
}

.signupLink{
  display: flex;
  margin: auto;
  flex-direction: row;
  align-content: center;
  position: absolute;
  justify-content: center;
  left: 0;
  right: 0;
  bottom: 5px;
  width: 100%;
  color: rgb(175, 166, 166);

  p{
    font-size: 0.9
  }
  a{
    text-decoration: none;
  }
}

.forgotPassword{
  display: flex;
  justify-content: flex-end;
  a{
    font-weight: 400;
    font-size: 0.9rem;
    text-decoration: none;
  }

}

.fade-in-bottom {
  -webkit-animation: fade-in-bottom 2.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in-bottom 2.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.logo {
  height: auto;
  width: 140px;
  margin: auto;
  margin-top: 20px;
}


.ion-fab-horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-20%);
  margin-bottom: 150px;
}
