.input {
  font-size: 0.9rem;
}

ion-item {
  --background: #f1f1f1de;
  border-radius: 15px;
  margin-bottom: 2%;
}

.header {
  text-align: center;
}

.subTitle {
  color: #54bb77;
  font-size: 1.2rem;
  width: fit-content;
  max-height: 665px;
}

.signupLink {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 100%;
  color: rgb(175, 166, 166);

  p {
    font-size: 0.9
  }

  a {
    text-decoration: none;
  }
}

.forgotPassword {
  float: right;
  a {
    font-weight: 400;
    font-size: calc(10px + 0.390625vw);
    text-decoration: none;
    color: rgba(84, 187, 119, 0.7) !important;
  }

}

.forms {
  width: 50vw;
  height: auto;
  align-content: center;
  margin: 0 auto;
}

.fade-in-bottom {
  -webkit-animation: fade-in-bottom 2.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-bottom 2.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.logo {
  height: auto;
  max-width: 140px;
  margin: auto;
  padding-bottom: 7%;
  margin-top: 30%;
}


.round {
  height: 80px;
  width: 80px;
  --border-radius: 50%;
    margin-bottom: 50px;
}

.text-helper{
  color: #54bb77;
  font-size: 1.1rem;
  font-family: 'roboto';
  padding-bottom: 2%;
}

.login-tio{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-container{
  width: 100%;
}

.error {
  color: red;
}