* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ion-item {
  --background: transparent;
  --border-color: transparent;
  margin-top: 16px;
}

.logo
{
  max-width: 167px;
}

ion-content {
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

ion-content::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

/* Estilo para ocupar a tela inteira */
.fullscreen-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Estilo para a imagem */
.fullscreen-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que a imagem preencha todo o espaço sem distorção */
}

nav {
  position: fixed;
  padding: 25px 60px;
  z-index: 1;
  width: 167px;
}

nav img {
  width: 100%;
  height: 100%;
}

.form-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 4px;
    padding: 70px;
    width: 500px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .75);

}
.form-wrapper h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}
.form-wrapper form {
    margin: 25px 0 65px;
}
form .form-control {
    height: 50px;
    position: relative;
    margin-bottom: 16px;
}
.form-control input {
    height: 100%;
    width: 100%;
    background: #333;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    padding: 0 20px;
}
.form-control input:is(:focus, :valid) {
    background: #444;
    padding: 16px 20px 0;
}
.form-control label {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    pointer-events: none;
    color: #8c8c8c;
    transition: all 0.1s ease;
}
.form-control input:is(:focus, :valid)~label {
    font-size: 0.75rem;
    transform: translateY(-130%);
}

.error
{
  color: red;
}

ion-button {
    width: 100%;
    min-height: 50px;
    font-size: 1rem;
    --background: var(--ion-color-trygreen);
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    outline: none;
    margin: 25px 0 10px;
    cursor: pointer;
    transition: 0.1s ease;
}

.form-wrapper a {
    text-decoration: none;
}
.form-wrapper a:hover {
    text-decoration: underline;
}
.form-wrapper :where(label, p, small, a) {
    color: #b3b3b3;
}
form .form-help {
    display: flex;
    justify-content: space-between;
}
form .remember-me {
    display: flex;
}
form .remember-me input {
    margin-right: 5px;
    accent-color: #b3b3b3;
}
form .form-help :where(label, a) {
    font-size: 0.9rem;
}
.form-wrapper p a {
    color: #fff;
}
.form-wrapper small {
    display: block;
    margin-top: 15px;
    color: #b3b3b3;
}
.form-wrapper small a {
    color: #0071eb;
}
.password-toggle {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  color: #8c8c8c;
  cursor: pointer;
}

@media (max-width: 768px) {


    ion-content::before {
        display: none;
    }
    ion-item, .form-wrapper {
        padding: 20px;
    }
    .logo {
        width: 140px;
    }
    .form-wrapper {
        width: 95%;
        top: 50%;
    }
    .form-wrapper form {
        margin: 25px 0 40px;
    }

}
