

<ion-content [fullscreen]="true">
  <div class="fullscreen-bg">
    <img src="../../assets/background.jpg" alt="Imagem de fundo">
</div>

<ion-item>
    <img src="../../assets/tryhard-logo.png" alt="logo" class="logo">
</ion-item>

  <div class="form-wrapper">

    <h2>Bem vindo a <a href="https://www.instagram.com/tryhardacademiabb/?igshid=NGVhN2U2NjQ0Yg%3D%3D" style="color: var(--ion-color-trygreen);">TryHard</a></h2>
  <form [formGroup]="loginForm" class="form-container" >

    <div class="form-control">
      <input  type="text" required formControlName="email" name="email"  >
      <label>Email</label>
    </div>

      <div *ngIf="this.loginForm.controls?.['email'].touched && this.loginForm.controls?.['email'].invalid" class="error" style="padding-bottom: 16px;">
        <ion-text *ngIf="errorControl.email.errors?.required" style="padding-bottom: 16px;">
          Por favor, insira seu email
        </ion-text>
        <div>
        <ion-text *ngIf="errorControl.email.errors?.pattern" style="padding-bottom: 16px;">
          Por favor, insira um email válido
        </ion-text>
        </div>
      </div>

      <div *ngIf="error" class="error" style="padding-bottom: 16px;">
        <ion-text >
          Email ou senha incorretos.
        </ion-text>
      </div>

      <div class="form-control">
        <input  type="text" required formControlName="password" name="password" type="{{ showPassword ? 'text' : 'password' }}" class="input">
        <label>Senha</label>
        <ion-icon name="{{ showPassword ? 'eye-off-outline' : 'eye-outline' }}" slot="end" class="password-toggle" (click)="togglePassword()"></ion-icon>
      </div>

      <div *ngIf="this.loginForm.controls?.['password'].touched && this.loginForm.controls?.['password'].invalid">
        <ion-text *ngIf="errorControl.password.errors?.required" class="error">
          Por favor, insira sua senha
        </ion-text>
        <ion-text *ngIf="errorControl.password.errors?.pattern" class="error">
          Por favor, insira uma senha válida
        </ion-text>
      </div>

      <div>
        <ion-text *ngIf="error" class="error">
          Email ou senha incorretos.
        </ion-text>
      </div>

      <ion-button (click)="login()" fill="solid" id="loginButton" [disabled]="loginForm.invalid">
        Fazer Login
      </ion-button>
      <div class="form-help">
        <div class="remember-me">
            <input type="checkbox" id="remember-me">
            <label for="remember-me">Lembrar de mim</label>
        </div>
        <a [routerLink]="['/reset-password']">Esqueceu a senha?</a>
    </div>
  </form>
  <p>Novo no aplicativo? <a [routerLink]="['/sign-up']" style="color: var(--ion-color-trygreen);">Cadastre-se </a></p>
</div>
</ion-content>


