<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home" class="flecha" color="trygreen"></ion-back-button>
    </ion-buttons>
      <ion-title class="ion-text-center" color="trygreen"> {{ exerciseData?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="darkgray">
  <div class="container">
    <div class="timer" [style.color]="breakTimerColor"> {{ displayTime }}</div>
  <div class="controls">
    <ion-button (click)="startTimer()" [disabled]="isRunning" color="trygreen" class="botão"><ion-icon name="play"></ion-icon></ion-button>
    <ion-button (click)="pauseTimer()" [disabled]="!isRunning" color="trygreen" class="botão"><ion-icon name="pause-outline"></ion-icon></ion-button>
    <ion-button (click)="stopTimer()" [disabled]="!isRunning" color="trygreen" class="botão"><ion-icon name="stop-outline"></ion-icon></ion-button>
  </div>
</div>
  <div class="container2">
  <ion-chip color="trygreen">Aquecimento</ion-chip>
  <ion-chip color="trygreen">5 minutos de corrida leve (50-60% da intensidade máxima)</ion-chip>
  <ion-chip color="trygreen">Queima aproximada: 75-100 calorias</ion-chip>
  <ion-chip color="trygreen">5 minutos de corrida moderada (60-70% da intensidade máxima)</ion-chip>
  <ion-chip color="trygreen">Queima aproximada: 100-150 calorias</ion-chip>
  <ion-chip color="trygreen">5 minutos de corrida intensa (70-80% da intensidade máxima)</ion-chip>
  <ion-chip color="trygreen">Queima aproximada: 150-200 calorias</ion-chip>
  <ion-chip color="trygreen">Resfriamento e alongamento</ion-chip>
  </div>
  <ion-button color="trygreen" style="--border-radius:10px" (click)="completeExercise()" routerLink="/tabs/home">Finalizar Treino</ion-button>
</ion-content>
