ion-header ion-toolbar {
  --background: #08080800;
}


ion-title {
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  color: var(--ion-color-trygreen);
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  padding-top: 20px;
}

.controls {
display: flex;
justify-content: center;
gap: 30px;
margin-top: px;
}

.botão {
height: 90px;
width: 100px;
border-radius: 45%;
}

ion-icon{
font-size: 2.7rem;
}

.container {
display: grid;
place-items: center;
width: auto;
height: 60%;
}

.cardio{
  width: 200px;
  height: auto;
}


.container2 {
  margin: 10px auto; /* Adiciona margem nas laterais e centraliza o elemento */
  display: grid;
  place-items: initial;
  border-radius: 20px;
  background-color: #050d09b6;
  max-width: 370px;
  max-height: 230px; /* Aumenta a altura do container2 */
  overflow-y: auto; /* Adiciona rolagem vertical apenas quando necessário */
  overflow-x: hidden;
 }

 ion-checkbox
 {
  --size: 26px;
  --checkbox-background: var(--ion-color-darkgray);
  --checkbox-background-checked: var(--ion-color-trygreen);
  --checkmark-color: #3b3b3b;
  vertical-align: middle;
 }

 .container2::before {
  content: "";
  background: url('/assets/cardio.gif') center center no-repeat; /* Substitua 'caminho/do/seu/gif.gif' pelo caminho real do seu GIF */
  background-size: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; /* Coloca o fundo atrás do conteúdo do container */
  border-radius: 20px;
  filter: contrast(1); /* Mantém o mesmo raio de borda do container */
}

 .timer {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 140px;
  font-weight: 100;
  border-radius: 10px;
  background: linear-gradient(to bottom, rgba(6, 43, 6, 0.601) rgba(61, 61, 61, 0));
 }

 ion-button {
  background-color: var(--ion-color-trygreen);
  font-size: 1.3rem;
  height: 50px;
  display: flex;
  justify-content: center;
  max-width: 75%;
  border-radius: 30px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
 }

 ion-chip {
  height: 55px;
  font-size: 1.1rem;
  border: none;
  margin-bottom: 10px;
  padding: 10px; /* Adiciona espaço abaixo dos chips */
 }


.lista-concluida
 {
  padding-left: 30px;
 }

 .listconc
 {
  font-size: 1.3rem;
 }
