<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Perfil</ion-title>
  </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" color="darkgray">
    <div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxXWv3oxSqjHh_0js-jYYHoj39D9sxUZKu6w&usqp=CAU" alt="perfil" class="perfil-foto">
  </div>
  <ion-title class="title-name">
    Vitor Pinheiro
 </ion-title>
<ion-list lines="inset">
  <ion-item>
    <ion-label>Editar Perfil</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Politicas de privacidade</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Configurações</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Avaliações físicas</ion-label>
  </ion-item>
</ion-list>

</ion-content>

