.profile-container {
  position: relative;
  height: 10vh;
  display: flex;
  justify-content: center;
  top: 10%;
  flex-direction: column;
}

.avatar {
  height: 18vh;
  width: 18vh;
  border: 2px solid var(--ion-color-trygreen);
}

.profile-button {
  position: absolute;
  background-color: #bb6b57;
  right: 0px;
  bottom: 0px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid var(--ion-color-trygreen);
  cursor: pointer;
  padding: 3px;
}

.pencil {
  font-size: 2rem;
}

.name {
  margin-top: 20px;
}