.ion-text-center {
  color: darkgray;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.perfil-container {
  width: 40%;
  height: 30%;
  margin-left: 5%;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 20px;
}

.perfil-foto {
  width: 150%;
  height: 140%;
  object-fit: cover;
  object-position: center;
}

.horizontal-line {
  width: 35%;
  height: 1px;
  background-color: #75797760;
  margin-left: 10px;
}

.profile-details {
  text-align: center;
}

.title-name, .title2-name {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20%;
  padding: 9%;
}

.title-name {
  font-size: 1.4rem;
  text-align: right;
  margin-right: 15%;
  color: #39df7b;
  font-family: 'monospace';
}

.title2-name {
  padding: 9%;
  font-size: 1.2rem;
  text-align: right;
  margin-right: 10%;
  color: #39df7b;
  font-family:'Ubuntu';
  margin-top: 27%;
}

.list {
  --ion-background-color: #25242433;
  --ion-border-color: #2dd36f;
}

ion-accordion-group {
  margin: 7%;
}

ion-item[slot="header"] {
  --background: var(--ion-color-light);
}

ion-accordion div[slot="content"] {
  padding: 10px;
  background-color: var(--ion-background-color);
  border: 1px solid var(--ion-border-color);
}

ion-accordion ion-item {
  --color: #1C1C1E;
  --ion-color: var(--ion-border-color);
}

.item {
  color: #d1d1e2;
}

ion-padding {
  color: black;
}

.membro-desde {
  
  font-size: 0.8rem;
  color: #6c7a72;
  text-align: center;
  margin-top: 3%;
}

ion-button[color="dark"] {
  margin-left: 30%;
  margin-top: 40%;
}
