<ion-content color="darkgray2">
  <div class="profile-container">
    <ion-avatar class="avatar">
      <img [src]="userData.profile || 'https://firebasestorage.googleapis.com/v0/b/tryhard-75312.appspot.com/o/default_profile.png?alt=media&token=a65958d7-167d-4e30-9391-4f92c26366aa'">
  
      <ion-buttons>
        <button ion-button class="profile-button" id="click-trigger">
          <ion-icon name="camera" class="pencil"></ion-icon>
        </button>
      </ion-buttons>
    </ion-avatar>

    <ion-item class="name">
      <ion-text>Oi</ion-text>
    </ion-item>
  </div>

</ion-content>