// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --swiper-pagination-color: var(--ion-color-trygreen);
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: var(--ion-color-trygreen);
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;

  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #2d2e3175;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** Dark Gray **/
  --ion-color-darkgray: #141414;
	--ion-color-darkgray-rgb: 20,20,20;
	--ion-color-darkgray-contrast: #ffffff;
	--ion-color-darkgray-contrast-rgb: 255,255,255;
	--ion-color-darkgray-shade: #121212;
	--ion-color-darkgray-tint: #2c2c2c;

    /** Dark Gray 2 **/
  --ion-color-darkgray2: #1C1C1E;
	--ion-color-darkgray2-rgb: 28,28,30;
	--ion-color-darkgray2-contrast: #ffffff;
	--ion-color-darkgray2-contrast-rgb: 255,255,255;
	--ion-color-darkgray2-shade: #19191a;
	--ion-color-darkgray2-tint: #333335;

  /** TryHard Green **/
  --ion-color-trygreen: #54BB77;
	--ion-color-trygreen-rgb: 84,187,119;
	--ion-color-trygreen-contrast: rgb(27, 48, 36);
	--ion-color-trygreen-contrast-rgb: 0,0,0;
	--ion-color-trygreen-shade: #4aa569;
	--ion-color-trygreen-tint: #65c285;

}

.ion-color-darkgray {
	--ion-color-base: var(--ion-color-darkgray);
	--ion-color-base-rgb: var(--ion-color-darkgray-rgb);
	--ion-color-contrast: var(--ion-color-darkgray-contrast);
	--ion-color-contrast-rgb: var(--ion-color-darkgray-contrast-rgb);
	--ion-color-shade: var(--ion-color-darkgray-shade);
	--ion-color-tint: var(--ion-color-darkgray-tint);
}

.ion-color-darkgray2 {
	--ion-color-base: var(--ion-color-darkgray2);
	--ion-color-base-rgb: var(--ion-color-darkgray2-rgb);
	--ion-color-contrast: var(--ion-color-darkgray2-contrast);
	--ion-color-contrast-rgb: var(--ion-color-darkgray2-contrast-rgb);
	--ion-color-shade: var(--ion-color-darkgray2-shade);
	--ion-color-tint: var(--ion-color-darkgray2-tint);
}

.ion-color-trygreen {
	--ion-color-base: var(--ion-color-trygreen);
	--ion-color-base-rgb: var(--ion-color-trygreen-rgb);
	--ion-color-contrast: var(--ion-color-trygreen-contrast);
	--ion-color-contrast-rgb: var(--ion-color-trygreen-contrast-rgb);
	--ion-color-shade: var(--ion-color-trygreen-shade);
	--ion-color-tint: var(--ion-color-trygreen-tint);
}
