<ion-tabs>

  <ion-tab-bar slot="bottom" color="darkgray2" class="border">
    <ion-tab-button tab="home" href="/tabs/home" >
      <ion-icon aria-hidden="true" name="home" class="icon"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="statistics" href="/tabs/statistics">
      <ion-icon aria-hidden="true" name="stats-chart" class="icon"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notifications" href="/tabs/notifications">
      <ion-icon aria-hidden="true" name="notifications" class="icon"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

