ion-icon {
    color: #2C2C2E;
}

ion-tab-bar{
    color: #1C1C1E;
}

.border{
    border-top: 1px solid #2C2C2E;
}

ion-tab-button {
  ion-icon {
      transition: background-color 0.3s, color 0.6s;
  }
}
ion-tab-button.tab-selected {
    ion-icon {
      color: #54BB77;
      background-color: #2b332ec5;
      border-radius: 30px;
      width: 70px;
      max-width: 130px;
      height: 30px;
      max-height: 150px;
      border: 1px solid ;
    }
  }


