ion-header ion-toolbar {
    --background: #03030300;
    height: 3.75rem;
}

ion-title {
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    color: var(--ion-color-light);
}

ion-card {
    position: relative;
    height: 23vh;
}

.card-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

ion-card-title {
    color: white;
}

ion-card-subtitle {
    color: #54BB77;
}

gradient {
    position: relative;
  }


.gradient::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      360deg,
      rgba(18, 17, 18, 1) 0%,
      rgba(18, 17, 17, 0.9) 20%,
      rgba(17, 17, 18, 0.83) 25%,
      rgba(18, 17, 18, 0) 100%
    );
  }

  .border::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, transparent, #94df77); /* Transição de cor na parte de baixo */
  }

  .listpopover {
    background-color: #1a1b1b;
  }

  .ion-text-user{
    font-size: x-large;
    margin-right: 52%;
    font-family: 'ubuntu';
    font-size: 1.5rem;
  }

  .ion-text-center{
    margin-right: 75%;
    margin-top: 20px;
    font-size: 1.1rem;
    color: #54BB77;
  }

  .meu-botao {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}