<ion-header>
  <ion-toolbar color="darkgray2">
    <ion-buttons class="meu-botao">
      <ion-button id="click-trigger">
        <ion-popover trigger="click-trigger" triggerAction="click">
          <ng-template>
            <ion-list class="listpopover">
              <ion-item color="darkgray2" routerLink="/tabs/profile" (click)="closePopover()">
                <ion-icon name="person-outline" slot="start" color="trygreen"></ion-icon>
                <ion-label>Meus dados</ion-label>
              </ion-item>
              <ion-item color="darkgray2" (click)="closePopover()">
                <ion-icon name="information-circle-outline" slot="start" color="trygreen"></ion-icon>
                <ion-label>Sobre</ion-label>
              </ion-item>
              <ion-item color="darkgray2"  (click)="closePopover()" (click)="mostrarAlerta()">
                <ion-icon name="exit-outline" slot="start" color="trygreen"></ion-icon>
                <ion-label >Sair</ion-label>
              </ion-item>
            </ion-list>
          </ng-template>
        </ion-popover>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical" color="trygreen"></ion-icon>
      </ion-button>
      <ion-title class="ion-text-center">Olá {{ userName }}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" color="darkgray">

  <ion-item color="darkgray">
    <ion-title class="ion-text-left" slot="start">Treino de <a class="dia-semana">{{ currentDay }}</a></ion-title>
  </ion-item>

      <ng-container *ngFor="let userExercise of listExercises; let i = index" >
        <ion-card class=" gradient border"
        *ngFor="let exercise of userExercise.exercises; let j = index"
        [ngClass]="{'clicked': clickedCards[j]}"
        [routerLink]="['/exercise', exercise.exerciseId]"
      >
      <img [src]="exercise.image" alt="{{ exercise.name }}">
      <ion-card-content class="card-text">
        <ion-card-title>Exercício {{ j + 1 }} - {{ exercise.name }}</ion-card-title>
        <ion-card-subtitle *ngIf="exercise.type === 'time'">
          {{ exercise.group }} - {{ exercise.amount }} Minutos
        </ion-card-subtitle>
        <ion-card-subtitle *ngIf="exercise.type === 'rep'">
          {{ exercise.group }} - {{ exercise.sets }} séries de {{ exercise.reps }} repetições
        </ion-card-subtitle>
      </ion-card-content>
    </ion-card>
    </ng-container>


</ion-content>
