<ion-header>
  <ion-toolbar color="darkgray2">
    <ion-buttons class="meu-botao">
      <ion-button id="click-trigger">
        <ion-popover trigger="click-trigger" triggerAction="click">
          <ng-template>
            <ion-list class="listpopover">
              <ion-item color="darkgray2" routerLink="/tabs/profile" (click)="closePopover()">
                <ion-icon name="person-outline" slot="start" color="trygreen"></ion-icon>
                <ion-label>Meus dados</ion-label>
              </ion-item>
              <ion-item color="darkgray2" (click)="closePopover()">
                <ion-icon name="information-circle-outline" slot="start" color="trygreen"></ion-icon>
                <ion-label>Sobre</ion-label>
              </ion-item>
              <ion-item color="darkgray2"  routerLink="/splash" (click)="closePopover()">
                <ion-icon name="exit-outline" slot="start" color="trygreen"></ion-icon>
                <ion-label>Sair</ion-label>
              </ion-item>
            </ion-list>
          </ng-template>
        </ion-popover>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical" color="trygreen"></ion-icon>
      </ion-button>
      <ion-title class="ion-text-center">Olá Vitor</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="darkgray">
    <div>
      <ion-title class="ion-text-left">Treino de <a class="dia-semana">Segunda-Feira</a></ion-title>
    <ion-title class="ion-text-user"></ion-title>
    </div>
    <a [routerLink]="['/exercise', exercise.id]" *ngFor="let exercise of listExercises; let i = index">
      <ion-card class="gradient border">
          <img
            alt="{{ exercise.alt }}"
            [src]="exercise.image" />
        <ion-card-content class="card-text">
          <ion-card-title>Exercicio {{ i + 1 }} - {{ exercise.name }}</ion-card-title>
            <ion-card-subtitle *ngIf="exercise.type === 'tempo'" >{{ exercise.group }} - {{ exercise.amount }} Minutos</ion-card-subtitle>
            <ion-card-subtitle *ngIf="exercise.type === 'repetições'" >{{ exercise.group }} - {{ exercise.sets }} séries de {{ exercise.amount}} repetições</ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </a>

</ion-content>
