.input{
  font-size: 300;
}
ion-item{
  --background:#f1f1f1de;
  border-radius: 15px;
  margin-bottom: 4%;
}

.header{
  margin-top: 5%;
  margin-bottom: 3%px;
  text-align: center;
}

.subTitle{
  color: #54BB77;
  font-size: 1.2rem;
}

.signupLink{
  display: flex;
  margin: auto;
  flex-direction: row;
  align-content: center;
  position: absolute;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 80%;
  right: 0;
  color: white;

  p{
    font-size: 0.9
  }
  a{
    text-decoration: none;
  }
}

.forgotPassword{
  display: flex;
  justify-content: flex-end;
  a{
    font-weight: 400;
    font-size: 0.9rem;
    text-decoration: none;
  }

}

.ion-fab-horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-20%);
  margin-bottom: 130px;
}
.logo {
  height: auto;
  width: 30%;
  max-width: 140px;
  margin: auto;
  margin-top: 10%;
  padding-bottom: 7%;
}

.centered-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%; /* A largura que você deseja */
  height: 50px; /* A altura que você deseja */
  margin: 0 auto; /* Centralizar horizontalmente */
  margin-top: 20px; /* Ajuste a margem superior conforme necessário */
}



.fade-in-bottom {
  -webkit-animation: fade-in-bottom 2.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in-bottom 2.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.text-helper, .text-helper1 {
  color: #54bb77;
  font-size: 1.1rem;
  font-family: 'Gill Sans mt';
  padding-bottom: 2%;
}


.ion-fab-horizontal-center {
  left: 50%;
  transform: translateX(-20%);
  bottom: 10%;
  max-width: 100px;
}
