

<ion-content [fullscreen]="true">
  <div class="fullscreen-bg">
    <img src="../../assets/background2.jpg" alt="Imagem de fundo">
</div>

  <div class="form-wrapper">

    <h2>Seja membro da <a href="https://www.instagram.com/tryhardacademiabb/?igshid=NGVhN2U2NjQ0Yg%3D%3D" style="color: var(--ion-color-trygreen);">TryHard</a></h2>

  <form [formGroup]="regForm" class="form-container" >

    <div class="form-control">
      <input  type="text" required formControlName="username" name="username"  >
      <label>Nome de Usuário</label>
    </div>

    <div *ngIf="this.regForm.controls?.['username'].touched && this.regForm.controls?.['username'].invalid"  style="padding-bottom: 16px;">
      <ion-text *ngIf="errorControl.username.errors?.required" style="color: red">
        <ion-icon name="alert-circle-outline"></ion-icon>
        Por favor, insira seu nome
      </ion-text>
    </div>

    <div class="form-control">
      <input  type="text" required formControlName="email" name="email"  >
      <label>Email</label>
    </div>

    <div *ngIf="this.regForm.controls?.['email'].touched && this.regForm.controls?.['email'].invalid" style="padding-bottom: 16px;">
      <ion-text *ngIf="errorControl.email.errors?.required" style="color: red">
        <ion-icon name="alert-circle-outline"></ion-icon>
        Por favor, insira seu email
      </ion-text>
      <ion-text *ngIf="errorControl.email.errors?.pattern" style="color: red">
        <ion-icon name="alert-circle-outline"></ion-icon>
        Por favor, insira um email válido
      </ion-text>
    </div>

    <div class="form-control">
      <input  required type="text" formControlName="password" name="password" type="{{ showPassword ? 'text' : 'password' }}" class="input" (focus)="passwordFocused = true" (blur)="passwordFocused = false" (click)="passwordFocused = true; regForm.get('password')?.markAsTouched()">
      <label>Senha</label>
      <ion-icon name="{{ showPassword ? 'eye-off-outline' : 'eye-outline' }}" slot="end" class="password-toggle" (click)="togglePassword()"></ion-icon>
    </div>

    <div class="password-validation" *ngIf="passwordFocused && errorControl['password'].touched && this.regForm.get('password')?.invalid && !passwordFullyValid()">
      <ion-text>
        <p style="color: red;">O texto deve conter:</p>
      </ion-text>
        <ion-text [ngClass]="{ 'valid-criteria': passwordValid('uppercase'), 'invalid-criteria': passwordInvalid('uppercase') }">
          <div>
            <ion-icon [name]="passwordValid('uppercase') ? 'checkmark-outline' : 'alert-outline'"></ion-icon>
          Pelo menos uma letra maiúscula
          </div>
        </ion-text>
        <ion-text [ngClass]="{ 'valid-criteria': passwordValid('lowercase'), 'invalid-criteria': passwordInvalid('lowercase') }">
          <div>
          <ion-icon [name]="passwordValid('lowercase') ? 'checkmark-outline' : 'alert-outline'"></ion-icon>
          Pelo menos uma letra minúscula
          </div>
        </ion-text>
        <ion-text [ngClass]="{ 'valid-criteria': passwordValid('number'), 'invalid-criteria': passwordInvalid('number') }">
          <div>
          <ion-icon [name]="passwordValid('number') ? 'checkmark-outline' : 'alert-outline'"></ion-icon>
          Pelo menos um número
          </div>
        </ion-text>
        <ion-text [ngClass]="{ 'valid-criteria': passwordValid('specialChar'), 'invalid-criteria': passwordInvalid('specialChar') }">
          <div>
            <ion-icon [name]="passwordValid('specialChar') ? 'checkmark-outline' : 'alert-outline'"></ion-icon>
          Pelo menos um caractere especial
          </div>
        </ion-text>
        <ion-text [ngClass]="{ 'valid-criteria': passwordValid('length'), 'invalid-criteria': passwordInvalid('length') }">
          <div>
          <ion-icon [name]="passwordValid('length') ? 'checkmark-outline' : 'alert-outline'"></ion-icon>
          Pelo menos 8 caracteres
          </div>
        </ion-text>
      </div>

      <ion-button (click)="signUp()" fill="solid" id="loginButton" [disabled]="regForm.invalid">
        Cadastre-se
      </ion-button>

  </form>
  <p>Já possui uma conta? <a [routerLink]="['/login']" style="color: var(--ion-color-trygreen);">Faça Login </a></p>
</div>
</ion-content>


