<ion-content [fullscreen]="true" class="ion-content" style="--background: rgb(14, 14, 14);">
  
  <div class="header">
    <div class="fade-in-bottom">
    <img src="assets/logo2.png" alt="logo" class="logo">
    </div>
  </div>

  <form [formGroup]="regForm" novalidate class="form-container">
    <div class="ion-padding">
      <div class="text-helper1">Crie sua conta</div>

      <ion-item>
        <ion-input formControlName="username" placeholder="Nome" class="input"></ion-input>
        <ion-icon name="person-outline" slot="end" style="color: rgb(96, 100, 97)"></ion-icon>
      </ion-item>
      <div *ngIf="this.regForm.controls?.['username'].touched && this.regForm.controls?.['username'].invalid" >
        <ion-text *ngIf="errorControl.username.errors?.required" style="color: red">
        Por favor, insira seu nome
        </ion-text>
      </div>

      <ion-item>
        <ion-input formControlName="email" placeholder="Email" class="input"></ion-input>
        <ion-icon name="mail-outline" slot="end" style="color: rgb(96, 100, 97)"></ion-icon>
      </ion-item>
      <div *ngIf="this.regForm.controls?.['email'].touched && this.regForm.controls?.['email'].invalid">
        <ion-text *ngIf="errorControl.email.errors?.required" style="color: red">
          Por favor, insira seu email
        </ion-text>
        <ion-text *ngIf="errorControl.email.errors?.pattern" style="color: red">
          Por favor, insira um email válido
        </ion-text>
      </div>

      <ion-item>
        <ion-input formControlName="password" placeholder="Senha" type="{{ showPassword ? 'text' : 'password' }}" class="input"></ion-input>
        <ion-icon name="{{ showPassword ? 'eye-off-outline' : 'eye-outline' }}" slot="end" style="color: rgb(96, 100, 97);" (click)="togglePassword()"></ion-icon>
      </ion-item>
      <div *ngIf="this.regForm.controls?.['password'].touched && this.regForm.controls?.['password'].invalid">
        <ion-text *ngIf="errorControl.password.errors?.required" style="color: red">
          Por favor, insira sua senha
        </ion-text>
        <ion-text *ngIf="errorControl.password.errors?.pattern" style="color: red">
          A senha deve possuir
          Uma letra
          Uma letra maiúscula
          Um número
          Um caractere especial
          Conter 8 dígitos 
        </ion-text>
      </div>

    </div>
  </form>

  <div class="ion-justify-content-center " style="display: flex;">
    <ion-button color="trygreen" class="round"  (click)="signUp()">
      <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
    </ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="darkgray">        
    <div class="signupLink">
      <p>Já tem uma conta? <a [routerLink]="['/login']" style="color:#54BB77">Faça Login</a></p>
    </div>
  </ion-toolbar>