<ion-header>
  <ion-toolbar>
    <ion-title>
      Calendário
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="darkgray">

  <ion-datetime-button datetime="datetime"></ion-datetime-button>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime id="datetime"></ion-datetime>
  </ng-template>
</ion-modal>

  <ion-card class="card-container">
    <ion-card-content class="top-section">
      <div class="gauge-container">
        <angular-gauge [value]="seuPercentualDeProgresso" [max]="100"></angular-gauge>
      </div>
    </ion-card-content>

    <ion-card-content class="bottom-section card-divider">
      <!-- Adicione os treinos do usuário aqui -->
    </ion-card-content>
  </ion-card>
</ion-content>
