<ion-header>
  <ion-toolbar color="darkgray2">
    <ion-title>Estatísticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="darkgray" class="content">
  <div *ngIf="exibir">
  <div class="progress">
    <circle-progress
      [percent]="completionPercentage"
      [radius]="100"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="5"
      [outerStrokeColor]="'#54BB77'"
      [innerStrokeColor]="'#98d6ad'"
      [animation]="true"
      [animationDuration]="1000"
      [renderOnClick]="false"
      [subtitle]="subtitle"
      [startFromZero]="false"
    ></circle-progress>
  </div>

    <ion-text class="title" *ngIf="listExercises.length && !areAllExercisesCompleted()">Exercícios de Hoje:</ion-text>
    <div *ngFor="let userExercise of listExercises;" class="list">
      <ng-container *ngFor="let exercise of userExercise.exercises">
        <div *ngIf="!exercise.completed" class="item-container">
          <div>
            <ion-text class="title">{{ exercise.name }}</ion-text>
            <div *ngIf="exercise.type === 'time'">
              <ion-text color="trygreen" class="sutitle">{{ exercise.amount }} Minutos</ion-text>
            </div>
            <div *ngIf="exercise.type === 'rep'">
              <ion-text color="trygreen" class="subtitle">
                {{ exercise.sets }} séries de {{ exercise.reps }} repetições
              </ion-text>
            </div>
          </div>
          <ion-checkbox (ionChange)="completeExercise(exercise)" ></ion-checkbox>
        </div>
      </ng-container>
    </div>
    <!-- Treinos Concluidos -->

    <ion-text class="title" *ngIf="listExercises.length && !areAllExercisesInProgress()">Exercícios Concluidos:</ion-text>
    <div *ngFor="let userExercise of listExercises;" class="list">
      <ng-container *ngFor="let exercise of userExercise.exercises">
        <div *ngIf="exercise.completed" class="item-container">
          <div>
            <ion-text class="title">{{ exercise.name }}</ion-text>
            <div *ngIf="exercise.type === 'time'">
              <ion-text color="trygreen" class="sutitle">{{ exercise.amount }} Minutos</ion-text>
            </div>
            <div *ngIf="exercise.type === 'rep'">
              <ion-text color="trygreen" class="subtitle">
                {{ exercise.sets }} séries de {{ exercise.reps }} repetições
              </ion-text>
            </div>
          </div>
          <ion-checkbox [checked]="true" (ionChange)="resetExercise(exercise.exerciseId)" class="fakecheck"></ion-checkbox>
        </div>
      </ng-container>
    </div>
  </div>
</ion-content>
