.statistics-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;

  ion-card {
    margin-bottom: 20px;

    ion-card-header {
      color: white;
    }

    ion-card-content {
      font-size: 16px;
      line-height: 1.5;
      color: #333;
    }
  }

  .overview-card {
    grid-column: span 2; // Ocupa duas colunas

    ion-card-header {
      background-color: #3498db;
    }
  }

  .performance-card {
    ion-card-header {
      background-color: #e74c3c;
    }
  }

  .goals-card,
  .monthly-performance-card {
    ion-card-header {
      background-color: #f39c12;
    }
  }

  .comparison-card,
  .history-card {
    ion-card-header {
      background-color: #2ecc71;
    }
  }
}
