<ion-content class="ion-content" color="darkgray">
  <ion-card color="dark" class="container">
    <ion-card-header color="darkgray2">
      <ion-card-title class="introduction-title">
        O que o aplicativo da TryHard tem de Bom?
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img class="icon2" src="assets/ativo.png" alt="GIF de introdução">
      <h2 class="subtitle">Com a TryHard, você pode receber treinos selecionados pelo ser personal, visualizar suas estatisticas com a ajuda das nossas ferramentas, Juntos vamos alcançar nossas metas!</h2>
    </ion-card-content>

    <div class="botao" style="display: flex; margin-left: 90px;">
      <ion-button color="trygreen" class="round" routerLink="/first-introduction">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>

      <ion-button color="trygreen" class="round" routerLink="/terceira-introduction">
        <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
      </ion-button>
    </div>

  </ion-card>
</ion-content>
