<ion-content class="ion-content" color="darkgray">
  <ion-card color="dark" class="container">
    <ion-card-header color="darkgray2">
      <ion-card-title class="introduction-title">
        Terceira Tela de Introdução
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <h2 class="subtitle">Você está prestes a iniciar uma jornada incrível para alcançar seus objetivos de condicionamento físico. Saiba que, embora haja desafios ao longo do caminho, cada obstáculo superado é uma vitória e um passo em direção à melhor versão de si mesmo.

        Na TryHard, acreditamos no seu potencial e na sua capacidade de superar qualquer desafio. Com determinação, esforço e comprometimento, você pode conquistar seu sonho de um corpo mais saudável e de uma mente mais forte.
        
        Não subestime a importância da persistência. Hoje é o primeiro dia de uma jornada que o levará a um futuro mais saudável e ativo. Portanto, respire fundo, erga a cabeça e repita: 'TryHard!'.</h2>
    </ion-card-content>
    <div class="botao-vamosla" style="display: flex;">
      <ion-button color="trygreen" routerLink="/tabs/home">
        Vamos Lá
      </ion-button>
    </div>
  </ion-card>
</ion-content>
