<ion-header>
  <ion-toolbar color="darkgray2">
    <ion-title>Notificações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="darkgray">

  <ion-card>

    <ion-card-header color="darkgray2">

      <ion-segment [(ngModel)]="segment" color="trygreen">
        <ion-segment-button value="novas" color="trygreen">
          Novas
        </ion-segment-button>

        <ion-segment-button value="eventos" color="trygreen">
          Eventos
        </ion-segment-button>

        <ion-segment-button value="todas" color="trygreen">
          Todas
        </ion-segment-button>

      </ion-segment>

    </ion-card-header>

  </ion-card>

  <ion-list>
    <ion-item-sliding *ngFor="let notification of notifications; let i = index" (ionSwipe)="onItemSwipe(notification.notificationId)">
      <ion-item [class.no-top-border]="i !== 0" color="darkgray">
        <ion-card [class.no-top-border]="i !== 0" color="darkgray" class="not-card">
          <ion-card-title class="not-title">
            <ion-icon name="ellipse" color="trygreen"></ion-icon>
            {{ notification.title }} <a class="clock">{{ notification.time }}</a>
          </ion-card-title>
          <ion-card-subtitle class="not-subtitle">{{ notification.content }}</ion-card-subtitle>
        </ion-card>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="darkgray" (click)="deleteNotification(notification)">Deletar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


</ion-content>
