<ion-header>
  <ion-toolbar color="darkgray2">
    <ion-title>Notificações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="darkgray">

  <ion-card>

    <ion-card-header color="darkgray2">

      <ion-segment [(ngModel)]="segment" color="trygreen">
        <ion-segment-button value="novas" color="trygreen">
          Novas
        </ion-segment-button>

        <ion-segment-button value="eventos" color="trygreen">
          Eventos
        </ion-segment-button>

        <ion-segment-button value="todas" color="trygreen">
          Todas
        </ion-segment-button>

      </ion-segment>

    </ion-card-header>

  </ion-card>
<ion-list>
  <ion-item-sliding *ngIf="welcome" (ionSwipe)="onItemSwipe($event)">
    <ion-item color="darkgray">
      <ion-card color="darkgray" class="not-card">
        <ion-card-title class="not-title"> <ion-icon name="ellipse" color="trygreen"></ion-icon>Bem vindo <a class="clock">20:05</a></ion-card-title>
        <ion-card-subtitle class="not-subtitle">Seja bem vindo a TryHard, sua jornada conosco começa aqui!</ion-card-subtitle>
      </ion-card>
    </ion-item>  
    <ion-item-options>
      <ion-item-option color="darkgray" >Deletar</ion-item-option>
    </ion-item-options>

  </ion-item-sliding>
</ion-list>


</ion-content>
