<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Notificações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="darkgray">

  <ion-card>

    <ion-card-header>

      <ion-segment [(ngModel)]="segment" color="trygreen">
        <ion-segment-button value="novas" color="trygreen">
          Novas
        </ion-segment-button>

        <ion-segment-button value="eventos" color="trygreen">
          Eventos
        </ion-segment-button>

        <ion-segment-button value="todas" color="trygreen">
          Todas
        </ion-segment-button>

      </ion-segment>

    </ion-card-header>

  </ion-card>
  
</ion-content>
